@mixin base-typography {
	font-family: 'Inter', 'sans-serif';
	font-style: normal;
	color: #000;
}

@mixin large-title {
	@include base-typography;
	font-size: 2em;
	font-weight: 700;
}

@mixin small-title {
	@include base-typography;
	font-size: 1.2em;
	font-weight: 600;
}

@mixin body {
	@include base-typography;
	font-size: 1em;
	font-weight: 500;
}

@mixin body-light {
	@include base-typography;
	font-size: 1em;
	color: #6b7280;
	font-weight: 500;
}

@mixin body-bold {
	@include base-typography;
	font-size: 1em;
	font-weight: 500;
}
