.appHeader {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__leftIcons{
    display: flex;
    gap:8px;
  }
  border-bottom:1px solid gray;
}


.customFab {
  width: 32px;  /* adjust as needed */
  height: 32px;  /* adjust as needed */
}
