$border-thin: 1px;
$border-standard: 2px;
$border-medium: 4px;
$border-thick: 8px;
$border-extra-thick: 12px;
$border-extra-extra-thick: 16px;
$border-extra-extra-extra-thick: 24px;
$border-extra-extra-extra-extra-thick: 32px;
$border-extra-extra-extra-extra-extra-thick: 48px;
$border-extra-extra-extra-extra-extra-extra-thick: 64px;
$border-extra-extra-extra-extra-extra-extra-extra-thick: 96px;
$border-extra-extra-extra-extra-extra-extra-extra-extra-thick: 128px;
$border-extra-extra-extra-extra-extra-extra-extra-extra-extra-thick: 192px;
